<a href="#" id="mobile_menu">≡</a>
	<!--<a href="#torrents" class="TEMPLAR torrents"></a>!-->
<h1><a class="TEMPLAR titles" href="#">propagate.info</a></h1>

<div class="mobile_menu">	
	<div class="search">
		<ul id="search_ul"> 
			<li class="search_sources"><input class="searchField search_sources_input" placeholder="Titles"><ul class="autosuggestBox"></ul></li>
			<li class="search_authors"><input class="searchField search_authors_input" placeholder="Authors"><ul class="autosuggestBox"></ul></li>
			<li class="search_classes"><input class="searchField search_classes_input" placeholder="Classes"><ul class="autosuggestBox"></ul></li>
			<li class="search_publisher"><input class="searchField search_publishers_input" placeholder="Publisher"><ul class="autosuggestBox"></ul></li>

		</ul>
	</div>
	<br>
	<br>
	<br>
	<ul class="mobile_tabs">
			<li><a href="#titles" class="TEMPLAR titles">Titles</a></li>
			<li><a href="#set?ward=authors" class="TEMPLAR set">Authors</a></li>
			<li><a href="#set?ward=classes" class="TEMPLAR set">Classes</a></li>
			<li><a href="#set?ward=publishers" class="TEMPLAR set ">Publishers</a></li>			
			<li><a href="#top10" class="TEMPLAR top10">Top 10</a></li>
	</ul><br>
	<ul class="mobile_panel">
		<li id="magnetURI"><a href="magnet:?xt=urn:btih:2f5847f71c1f2baf143830dea0c7316d72dbe8c6&dn=SolomonsHouse&tr=wss%3A%2F%2Ftracker.openwebtorrent.com%2Fannounce&tr=wss%3A%2F%2Ftracker.btorrent.xyz%2Fannounce&tr=udp%3A%2F%2Ftracker.leechers-paradise.org%3A6969%2Fannounce&tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969%2Fannounce&tr=udp%3A%2F%2Ftracker.empire-js.us%3A1337%2Fannounce&tr=udp%3A%2F%2Fexplodie.org%3A6969%2Fannounce&tr=udp%3A%2F%2Ftracker.opentrackr.org%3A1337%2Fannounce&tag=ebooks&tag=audibooks">magnetURI</a></li>
		<li id="webtorrent"><a href="https://www.webtorrent.io" target="_blank">(How to Seed)</a></li>
		<li ><a class="DMCA" href="#">DMCA</a></li>
	</ul>
</div>
	
<div class="panel">
	<ul>
		<li id="magnetURI"><a href="magnet:?xt=urn:btih:2f5847f71c1f2baf143830dea0c7316d72dbe8c6&dn=SolomonsHouse&tr=wss%3A%2F%2Ftracker.openwebtorrent.com%2Fannounce&tr=wss%3A%2F%2Ftracker.btorrent.xyz%2Fannounce&tr=udp%3A%2F%2Ftracker.leechers-paradise.org%3A6969%2Fannounce&tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969%2Fannounce&tr=udp%3A%2F%2Ftracker.empire-js.us%3A1337%2Fannounce&tr=udp%3A%2F%2Fexplodie.org%3A6969%2Fannounce&tr=udp%3A%2F%2Ftracker.opentrackr.org%3A1337%2Fannounce&tag=ebooks&tag=audibooks">magnetURI</a></li>
		<li id="webtorrent"><a href="https://www.webtorrent.io" target="_blank">(How to Seed)</a></li>
		<li ><a class="DMCA" href="#">DMCA</a></li>
	</ul>
</div>
<div class="header_stream">
	<div class="tabs">	
		<ul class="tabs">
				<li><a href="#titles" class="TEMPLAR titles">Titles</a></li>
				<li><a href="#set?ward=authors" class="TEMPLAR set">Authors</a></li>
				<li><a href="#set?ward=classes" class="TEMPLAR set">Classes</a></li>
				<li><a href="#set?ward=publishers" class="TEMPLAR set ">Publishers</a></li>			<!--!-->
				<li><a href="#top10" class="TEMPLAR top10">Top 10</a></li>	
		</ul>
	</div>

	<div class="search desktop_search">
		<ul id="search_ul"> 
			<li class="search_sources"><input class="searchField search_sources_input" placeholder="Titles"><ul class="autosuggestBox"></ul></li>
				<li class="search_authors"><input class="searchField search_authors_input" placeholder="Authors"><ul class="autosuggestBox"></ul></li>
				<li class="search_classes"><input class="searchField search_classes_input" placeholder="Classes"><ul class="autosuggestBox"></ul></li>
				<li class="search_publisher"><input class="searchField search_publishers_input" placeholder="Publishers"><ul class="autosuggestBox"></ul></li>
		</ul>
	</div>
</div>

<script>
	$(".DMCA").click(function(e){
		e.preventDefault();
		alert("Send DMCA complaints to: inevitableambrosia@gmail.com. Please note that what we archive and seed are PDFs and audiobooks that show up on the first few pages of a Google™ search.")
	})
</script>