<div class="titleBreak">
  <h2 id="top10Title"><span>Top 10</span></h2>
</div>

<!--<div class="adv_search">
	<a href="#" class="adv_plus adv_toggle">+</a><a href="#" class="adv_minus adv_toggle">-</a><span id="adv_heading">Graph Search</span><br>
	<div class="adv_show">
		<br><br>
		<select id="top10_type"><option value="all">All Types</option></select><br>
		<select id="top10_media"><option value="all">All Media</option></select><br>
		<select id="top10_format"><option value="all">All Formats</option></select><br>
		<input id="top10_classes" placeholder="Classes (comma-separated)"><ul id="top10_classes_as" class="autosuggestBox"></ul><br>
		<label for="top10_class_all" class="adv_class">ALL</label>
		<input type="radio" class="adv_class" name="top10_class_toggle" id="top10_class_all">
		<label for="top10_class_any" class="adv_class">ANY</label>
		<input type="radio" class="adv_class" name="top10_class_toggle" id="top10_class_any">
		<br><br>
		<input id="top10_publisher" placeholder="Publisher or Journal"><br>
		<button id="top10_submit">Search Database</button>
	</div>
</div>!-->

<h3><span>Top 10 of this Day</span></h3>
<table width="100%" class="top10_table" id="day">
	<thead>
		<tr>
			<th>Source / Date / Author</th> <!--hidden column header !-->
			<th>Citation</th> <!--edition !-->
      
			<th>Revs</th>
      <th>Date</th>
			<th>Time</th>
			<th class="none torrents"></th> <!-- hidden responsive + !-->
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
<br><br><br>
<h3><span>Top 10 of this Week</span></h3>
<table width="100%" class="top10_table" id="week">
	<thead>
		<tr>
			<th>Source / Date / Author</th> <!--hidden column header !-->
			<th>Citation</th> <!--edition !-->
     
			<th>Revs</th>
       <th>Date</th>
			<th>Time</th>
			<th class="none torrents"></th> <!-- hidden responsive + !-->
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
<br><br><br>
<h3><span>Top 10 of this Month</span></h3>
<table width="100%" id="month">
	<thead>
		<tr>
			<th>Source / Date / Author</th> <!--hidden column header !-->
			<th>Citation</th> <!--edition !-->
      
			<th>Revs</th>
      <th>Date</th>
			<th>Time</th>
			<th class="none torrents"></th> <!-- hidden responsive + !-->
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
<br><br><br>

<br><br><br>
<h3><span>Top 10 of this Year</span></h3>
<table width="100%" id="year">
	<thead>
		<tr>
			<th>Source / Date / Author</th> <!--hidden column header !-->
			<th>Citation</th> <!--edition !-->
     
			<th>Revs</th>
       <th>Date</th>
			<th>Time</th>
			<th class="none torrents"></th> <!-- hidden responsive + !-->
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
<br><br><br>
<h3><span>Top 10 of All Time</span></h3>
<table width="100%" id="alltime">
	<thead>
		<tr>
			<th>Source / Date / Author</th>
			<th>APA Citation</th> 
     
			<th>Revs</th>
       <th>Date</th>
			<th>Time</th>
			<th class="none torrents"></th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
