<div id="hero">
    <!-- Statistics -->
  <div id="status">  
    <span class="show-leech">Connected  </span>
    <span class="show-seed">Connected  </span>    
    <span class="show-leech"> to </span>
    <span class="show-seed"> to </span>
    <code id="numPeers">0 peers</code>
  </div>
  <div id="anonymous">
    <code id="downloaded"></code>
    of <code id="total"></code>
    — <span id="remaining"></span><br/>
    &#x2198;<code id="downloadSpeed">0 b/s</code>
    / &#x2197;<code id="uploadSpeed">0 b/s</code>
 </div>
 <div>
    <div id="progressBar"></div>   
  </div>
</div>
<div id="output">
</div>